@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
} */

body {
  color: black;
  background: #fff;
  font-family: "SF Pro Display", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

.colm1 {
  width: 100%;
  max-width: 420px;
  /* width: calc((100% / 5) - 10px); */
}

.colm2 {
  width: calc((100% / 2) - 12px);
}

@media screen and (max-width: 500px) {
  .colm2 {
    width: 100%;
  }

  .colm1 {
    width: 100%;
    max-width: 100%;
  }
}

.ant-select {
  height: 47px;
}

.ant-select-selector {
  border: none !important;
}